body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#program{
    width: 500px;
    font-size: 20px;
    border: none;
    padding: 10px;
    border: 2px solid black;
}

#program:empty{
    border: none;
}

#result{
    width: 500px;
    font-size: 20px;
    border: none;
    padding: 10px;
    border: 2px solid black;
}

#result:empty{
    border: none;
}

#valueResult{
    width: 500px;
    font-size: 20px;
    border: none;
    padding: 10px;
    border: 2px solid black;
}

#valueResult:empty{
    border: none;
}

#green{
    color: #0bb905;
}

#red{
    color: red;
}

#button{
    border-radius: 12px;
    margin : 10px;
    font-size: 20px;
}
